aside.menu-area{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    background-color: bisque;
    color: darkslategray;
}

a:hover{
    background-color: gray;
    transition: 1s ease;
}