:root{
  --bg-dark: #000;

  --logo-height: 100px;
  --logo-width: 100px;
  --header-height: 100px;
  --nav-height: 100px;
  --main-height: 100vh;
  --footer-height: 100px;
}

*{
  box-sizing: border-box;
}

.app{
  margin: 0px;
  display: grid;
  grid-template-columns: var(--logo-width) 1fr;
  grid-template-rows: var(--logo-height) 
                      var(--nav-height) 
                      var(--main-height) 
                      var(--footer-height);

grid-template-areas: "logo header"
                      "nav nav"
                      "content content"
                      "footer footer";
  background-color: blue;
}

aside.logo{
  grid-area: logo;
}

header.header{
  grid-area: header;
}

aside.menu-area{
  grid-area: nav;
}

main.maincontent{
  grid-area: content;
}

footer.footer{
  grid-area: footer;
}